.category-cards{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    gap: 24px;
}

.category-cards .card{
    display: inline-block;
    width: 312px;
    height: 220px;
    background-color: var(--background-secondary-color);
    border-radius: 8px;
}

.category-cards .card a{
    text-decoration: none;
}

.icon{
    background: url(../img/icon-pacotes-nacionais.png) no-repeat center;
    width: 80px;
    height: 80px;
    margin: 41px auto;
}

.pacotes-internacionais .icon{
    background: url(../img/icon-pacotes-internacionais.png) no-repeat center;
    margin: 24px auto;
}

.transfer .icon{
    background: url(../img/icon-transfer.png) no-repeat center;
}

.seguro-viagem .icon{
    background: url(../img/icon-seguro-viagem.png) no-repeat center;
}

.category-cards .card h3{
    margin: 0;
    font-size: 28px;
    font-weight: var(--title-font-weight);
    color: var(--text-primary-color);
    text-align: center;
}

@media screen and (min-width: 768px) {
    .categories .section-title{
        width: 100%;
        margin: 0;
    }
    .category-cards{
        flex-direction: row;
        justify-content: center;
    }
}

@media screen and (min-width: 1400px) {
    .category-cards .card{
        width: 582px;
    }
    .pacotes-internacionais .icon{
        margin: 41px auto;
    }
}

@media screen and (min-width: 1920px) {
    .category-cards{
        width: 1320px;
        margin: 0 auto;
    }
    .category-cards .card{
        width: 312px;
    }
}