.main-footer{
    background-color: var(--background-tertiary-color);
    padding: 32px 24px;
}

.main-footer article{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 32px;
    color: var(--text-secondary-color);
    font-size: 16px;
    font-weight: var(--text-font-weight);
    line-height: 28px;
}

.main-footer header img{
    width: 162px;
    height: 40px;
    margin-bottom: 16px;
}

.main-footer footer .social-medias{
    display: flex;
    flex-direction: row;
    gap: 8px;
    justify-content: center;
    margin-top: 16px;
}

.main-footer footer .social-medias a{
    text-decoration: none;
}

.main-footer footer .social-icon{
    width: 32px;
    height: 32px;
}

/* TABLET */
@media screen and (min-width: 768px) {
    .main-footer header p{
        font-size: 20px;
    }
}

/* DESKTOP */
@media screen and (min-width: 1024px) {
    .main-footer article{
        flex-direction: row;
        text-align: left;
        justify-content: space-around;
    }
}