/* FONTES */
@font-face {
    font-family: "Montserrat";
    src: url(../fonts/Montserrat-VariableFont_wght.ttf);
    font-style: normal;
    font-display: swap;
}

:root{

    /* VARIAVEIS DE CORES */
    --primary-color: #8F0101;
    --secondary-color: #B81515;

    --background-primary-color: #FFFFFF;
    --background-secondary-color: #F5F5F5;
    --background-tertiary-color: #000000;

    --text-primary-color: #222222;
    --text-secondary-color: #FFFFFF;

    /* VARIAVEIS DE FONTES */
    --title-font-weight: 700;
    --menu-font-weight: 500;
    --text-font-weight: 400;

}

/* CSS RESET */

body, img, h1, p, fieldset, legend, label, input, select, textarea, button{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "Montserrat";
    color: var(--text-primary-color);
}

.section-title h2{
    margin: 0;
    font-size: 28px;
    font-weight: var(--title-font-weight);
    text-align: center;
}

.section-title hr{
    width: 180px;
    height: 4px;
    background-color: var(--secondary-color);
    border: none;
    margin: 16px auto 32px;
}

.button{
    display: inline-block;
    width: 280px;
    height: 64px;
    line-height: 64px;
    background-color: var(--secondary-color);
    border-radius: 8px;
    text-decoration: none;
    color: var(--text-secondary-color);
    font-weight: var(--title-font-weight);
    font-size: 20px;
    text-align: center;
}

/* TABLETS */
@media screen and (min-width: 768px) {
    .section-title h2{
        font-size: 32px;
    }
}

/* DESKTOPS */
@media screen and (min-width: 1024px) {
    .button:hover{
        background-color: var(--primary-color);
    }
}

/* DESKTOPS MAIORES */
@media screen and (min-width: 1440px) {
    .section-title hr{
        margin: 16px auto 64px;
    }
}