.hero-img.header{
    height: 400px;
    width: 100%;
    background: url(../img/hero-mobile.jpg) no-repeat center;
    background-size: cover;  
}

.hero h2{
    margin: 0;
    padding: 88px 24px;
    font-size: 20px;
    font-weight: var(--text-font-weight);
    line-height: 1.5;
    text-align: center;
}

.hero-img.footer{
    height: 400px;
    width: 100%;
    background: url(../img/hero-footer-mobile.jpg) no-repeat center;
    background-size: cover;  
}

/* MEDIDAS DA IMAGEM PARA TABLETS */
@media screen and (min-width: 768px) {
    .hero-img.header{
        height: 620px;
        background: url(../img/hero-tablet.jpg) no-repeat center;
        background-size: cover;
    }

    .hero h2{
        padding: 88px 60px;
        font-size: 32px;
    }

    .hero-img.footer{
        background: url(../img/hero-footer-tablet.jpg) no-repeat center;
        background-size: cover;
    }
}

/* MEDIDAS DA IMAGEM PARA DESKTOPS */
@media screen and (min-width: 1440px) {
    .hero-img.header{
        background: url(../img/hero-desktop.jpg) no-repeat center;
        background-size: cover;
    }
    .hero h2{
        padding: 104px 120px;
    }
    .hero-img.footer{
        height: 600px;
        background: url(../img/hero-footer-desktop.jpg) no-repeat center;
        background-size: cover;
    }
}

/* MEDIDAS DA IMAGEM PARA DESKTOPS MAIORES */
@media screen and (min-width: 1940px) {
    .hero h2{
        padding: 104px 160px;
    }
}