.offer-cards{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    gap: 24px;
}

.card{
    width: 312px;
    height: 288px;
    color: var(--text-secondary-color);
    background-color: black;
    padding: 24px 16px;
    box-sizing: border-box;
    text-align: center;
    border-radius: 16px;
}

.card.japao{
    background: url(../img/bg-card-japao.jpg) no-repeat center;
    background-size: cover;
}

.card.san-adreas{
    background: url(../img/bg-card-san-andreas.jpg) no-repeat center;
    background-size: cover;
}

.card.paraiba{
    background: url(../img/bg-card-paraiba.jpg) no-repeat center;
    background-size: cover;
}

.card.manaus{
    background: url(../img/bg-card-manaus.jpg) no-repeat center;
    background-size: cover;
}

.card header{
    display: block;
    padding: 0;
    background-color: transparent;
}

.card p{
    font-size: 20px;
    font-weight: var(--text-font-weight);
}

.card h3{
    font-size: 40px;
    font-weight: var(--title-font-weight);
    margin: 8px auto 24px;
}

.card span{
    font-size: 32px;
    display: inline-block;
    margin-top: 24px;
}

/* TABLETS */
@media screen and (min-width: 768px) {
    .offer-cards{
        flex-direction: row;
        justify-content: center;
    }
}

/* DESKTOPS */
@media screen and (min-width: 1024px) {
    .card{
        width: 450px;
        height: 308px;
    }

    .card h3{
        font-size: 48px;
    }

    .card span{
        font-size: 40px;
    }
}

/* DESKTOPS MAIORES */
@media screen and (min-width: 1440px) {
    .card{
        width: 588px;
    }
}

@media screen and (min-width: 1920px) {
    .offer-cards{
        width: 1200px;
        margin: 0 auto;
    }
}