.image-content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 24px;
    margin-top: 24px;
}

.image-content .image{
    width: 144px;
    height: 254px;
    grid-column: span 1;
}

.image-content .bag{
    background: url(../img/image-bag.jpg) no-repeat center;
    background-size: cover;
}

.image-content .passaport{
    background: url(../img/image-passaport.jpg) no-repeat center;
    background-size: cover;
}

.image-content .people{
    background: url(../img/image-people.jpg) no-repeat center;
    background-size: cover;
}

.image-content .large{
    width: 312px;
    height: 182px;
    grid-column: span 2;
}