.payments .content.packages .text-content{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.payments .content.packages .content-title{
    margin: 0;
}

.payments .content.packages h3{
    font-size: 40px;
}

.payments .content.packages .button{
    width: 100%;
}

.payments .content.packages .image-content .image{
    height: 254px;
}

.payments .content.packages .image-content .image.large{
    height: 182px;
}

.payments .content.packages .image-content .first{
    background: url(../img/payments-packages-first-image-mobile.jpg) no-repeat center;
    background-size: cover;
}

.payments .content.packages .image-content .second{
    background: url(../img/payments-packages-second-image-mobile.jpg) no-repeat center;
    background-size: cover;
}

.payments .content.packages .image-content .third{
    background: url(../img/payments-packages-third-image-mobile.jpg) no-repeat center;
    background-size: cover;
}

/* TABLET */
@media screen and (min-width: 768px) {
    .payments .content.packages .image-content .first{
        background: url(../img/payments-packages-first-image-tablet.jpg) no-repeat center;
        background-size: cover;
    }

    .payments .content.packages .image-content .second{
        background: url(../img/payments-packages-second-image-tablet.jpg) no-repeat center;
        background-size: cover;
    }

    .payments .content.packages .image-content .third{
        background: url(../img/payments-packages-third-image-tablet.jpg) no-repeat center;
        background-size: cover;
    }
}

/* DESKTOP */
@media screen and (min-width: 1024px) {
    .payments .content .image-content{
        height: 460px;
    }
}