:root{

    /* VARIAVEIS DE CORES */
    --background-primary-color: #FFFFFF;
    --background-secondary-color: #F5F5F5;
    --background-tertiary-color: #000000;

    --button-primary-color: #8F0101;
    --button-secondary-color: #B81515;

    --text-primary-color: #222222;
    --text-secondary-color: #FFFFFF;

}

/* CSS RESET */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}